<!-- Header -->
<app-transparent-header></app-transparent-header>

<!-- Profile Header -->
<app-user-cover></app-user-cover>

<!-- Profile Data -->
<section *ngIf="currentUser" class="bg-primary-alt">
  <div class="container">

    <div class="row">
      <div class="col-md-4">

        <app-user-sidebar></app-user-sidebar>

      </div>
      <div class="col-md-8">

        <div class="card card-body shadow-sm">
          <h2>Logs</h2>
          <p>
            As the internet is changing and many people's accounts are becoming breached more regularly. Here is information regarding your most recent successfuly and attempted logins and account updates. 
          </p>
        </div>

        <div class="card card-body shadow-sm">
          <h3>Successful Signins</h3>
          <p>
            As the internet is changing and many people's accounts are becoming breached more regularly. Here is information regarding your most recent successfuly and attempted logins and account updates. 
          </p>
        </div>

        <div class="card card-body shadow-sm">
          <h3>Failed Signins</h3>
          <p>
            As the internet is changing and many people's accounts are becoming breached more regularly. Here is information regarding your most recent successfuly and attempted logins and account updates. 
          </p>
        </div>

        <div class="card card-body shadow-sm">
          <h3>Account Updates</h3>
          <p>
            As the internet is changing and many people's accounts are becoming breached more regularly. Here is information regarding your most recent successfuly and attempted logins and account updates. 
          </p>
        </div>

      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<app-footer-primary></app-footer-primary>