<a href="/!/download" class="btn btn-primary ml-lg-3">Download Now</a>

<div class="dropdown ml-2" *ngIf="signedIn">
  <img src="assets/img/avatars/female-4.jpg" alt="User" class="avatar avatar-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <div class="dropdown-menu dropdown-menu-right dropdown-content">
    <h6 class="dropdown-header">Account</h6>
    <a class="dropdown-item" href="javascript:;">Profile</a>
    <a class="dropdown-item" href="javascript:;">Settings</a>
    <a class="dropdown-item" href="javascript:;">Sign out</a>
  </div>
</div>
<div class="ml-2">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fal fa-bars icon navbar-toggler-open"></i>
    <i class="fal fa-times icon navbar-toggler-close"></i>
  </button>
</div>