<!-- Header -->
<app-transparent-header></app-transparent-header>

<!-- Profile Header -->
<app-user-cover></app-user-cover>

<!-- Profile Data -->
<section *ngIf="currentUser" class="bg-primary-alt">
  <div class="container">

    <div class="row">
      <div class="col-md-4">

        <app-user-sidebar></app-user-sidebar>

      </div>
      <div class="col-md-8">

        <div class="card card-body shadow-sm">
          <h2>
            Connections
          </h2>
          <p>
            You can connect your Github or Discord account to Exordium; to show your paid status in the discord, or to use your profile picture on the website and applications!
          </p>
        </div>

        <div class="card card-icon-3 card-body shadow-sm justify-content-between" data-aos="fade-left">
          <div class="icon-round mb-3 mb-md-4 bg-primary">
            <i class="fab fa-discord"></i>
          </div>
          <span class="badge badge-danger">
            <i class="fa fa-fw fa-times"></i>
            Disconnected
          </span>
          <div>
            <h3>Discord</h3>
            <p class="lead">
              Connect your Discord account to Exordium
            </p>
            <a href="https://discordapp.com/api/oauth2/authorize?client_id=703772197692375071&redirect_uri=https%3A%2F%2Fexordium.org%2F&response_type=token&scope=identify%20email%20guilds.join">
              <i class="fab fa-fw fa-discord"></i>
              Connect your account
            </a>
          </div>
        </div>

        <div class="card card-icon-3 card-body shadow-sm justify-content-between" data-aos="fade-left">
          <div class="icon-round mb-3 mb-md-4 bg-primary">
            <i class="fab fa-github"></i>
          </div>
          <span class="badge badge-danger">
            <i class="fa fa-fw fa-times"></i>
            Disconnected
          </span>
          <div>
            <h3>GitHub</h3>
            <p class="lead">
              Connect your GitHub account to Exordium
            </p>
            <a href="javascript:;">
              <i class="fab fa-fw fa-github"></i>
              Connect your account
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<app-footer-primary></app-footer-primary>