<!-- Header -->
<app-dark-header></app-dark-header>

<!-- Title -->
<section class="bg-primary-3 text-light">
    <div class="container">
        <h2 class="display-4">
            Moderation: Contact
        </h2>
        <p class="lead">
            This page displays all contact emails sent to our customer support team. Saved in the database incase of data loss or email service issues. 
        </p>
    </div>
</section>

<!-- List Contact -->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="row">

          <div class="col-12 col-lg-6" *ngFor="let email of contactEmails">
            <div class="card card-body">
              <div class="flex-grow-1">
                  <div class="h3">
                    {{email.person.realname}}
                    <span class="badge badge-secondary float-right" *ngIf="email.company">
                      {{email.company}}
                    </span>
                  </div>
                  <p class="text-muted">
                    <span *ngIf="email.person.email">
                      <i class="fa fa-envelope"></i>
                      {{email.person.email}}
                    </span>

                    <span *ngIf="email.person.phone">
                      <i class="fa fa-phone"></i>
                      {{email.person.phone}}
                    </span>
                  </p>
                  <p class="my-4">
                      {{email.message}}
                  </p>
                  <p>
                      <span class="badge badge-info mr-2">
                          <i class="fa fa-clock"></i>
                          {{email.created.createdAt}}
                      </span>
                      <span class="badge badge-info">
                          <i class="fa fa-globe"></i>
                          {{email.created.ipAddress}}
                      </span>
                  </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<app-footer-primary></app-footer-primary>