<!-- Overlay Header -->
<app-header-overlay></app-header-overlay>

<!-- Jarallax Cover-->
<section class="has-divider text-light jarallax bg-dark" data-jarallax data-speed="0.5" data-overlay>
    <img src="assets/img/article-9.jpg" alt="" class="jarallax-img opacity-50">
    <div class="container">
        <div class="row my-4" data-aos="fade-up">
            <div class="col-lg-9 col-xl-8">
              <h1 class="display-4">Blog</h1>
              <p class="lead mb-0">Need to get in contact with our support team? Feel free to send us a message!</p>
            </div>
        </div>
    </div>
    <div class="divider">
        <div [inlineSVG]="'assets/img/dividers/divider-2.svg'"></div>
    </div>
</section>

<section>
<div class="container">
    <div class="row mb-4">
    <div class="col-md-8 col-lg-9">
        <div class="pr-lg-4">
        <a href="#" class="card card-body justify-content-between bg-primary text-light">
            <div class="d-flex justify-content-between mb-3">
            <div class="text-small d-flex">
                <div class="mr-2">
                Links
                </div>
                <span class="opacity-70">19th December</span>
            </div>
            <span class="badge bg-primary-alt text-primary">
                <img class="icon icon-sm bg-primary" src="assets/img/icons/interface/heart.svg" alt="heart interface icon" data-inject-svg />27
            </span>
            </div>
            <div>
            <h2>A time-tracking app that isn’t a pain.</h2>
            <span class="text-small opacity-70">http://www.website.io/link</span>
            </div>
        </a>
        </div>
        <div class="pr-lg-4">
        <div class="card card-article-wide flex-md-row no-gutters">
            <a href="#" class="col-md-4">
            <img src="assets/img/article-1.jpg" alt="Image" class="card-img-top">
            </a>
            <div class="card-body d-flex flex-column col-auto p-4">
            <div class="d-flex justify-content-between mb-3">
                <div class="text-small d-flex">
                <div class="mr-2">
                    <a href="#">Business</a>
                </div>
                <span class="text-muted">29th November</span>
                </div>
                <span class="badge bg-primary-alt text-primary">
                <img class="icon icon-sm bg-primary" src="assets/img/icons/interface/heart.svg" alt="heart interface icon" data-inject-svg />12
                </span>
            </div>
            <a href="#" class="flex-grow-1">
                <h3>How to build collateral</h3>
            </a>
            <div class="d-flex align-items-center mt-3">
                <img src="assets/img/avatars/female-3.jpg" alt="Image" class="avatar avatar-sm">
                <div class="ml-1">
                <span class="text-small text-muted">By</span>
                <span class="text-small">Abby Sims</span>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="pr-lg-4">
        <div class="card card-article-wide flex-md-row no-gutters">
            <a href="#" class="col-md-4">
            <img src="assets/img/article-2.jpg" alt="Image" class="card-img-top">
            </a>
            <div class="card-body d-flex flex-column col-auto p-4">
            <div class="d-flex justify-content-between mb-3">
                <div class="text-small d-flex">
                <div class="mr-2">
                    <a href="#">Design</a>
                </div>
                <span class="text-muted">27th November</span>
                </div>
                <span class="badge bg-primary-alt text-primary">
                <img class="icon icon-sm bg-primary" src="assets/img/icons/interface/heart.svg" alt="heart interface icon" data-inject-svg />23
                </span>
            </div>
            <a href="#" class="flex-grow-1">
                <h3>Forging your path</h3>
            </a>
            <div class="d-flex align-items-center mt-3">
                <img src="assets/img/avatars/male-4.jpg" alt="Image" class="avatar avatar-sm">
                <div class="ml-1">
                <span class="text-small text-muted">By</span>
                <span class="text-small">Cedric</span>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="pr-lg-4">
        <div class="card card-article-wide flex-md-row no-gutters">
            <a href="#" class="col-md-4">
            <img src="assets/img/article-3.jpg" alt="Image" class="card-img-top">
            </a>
            <div class="card-body d-flex flex-column col-auto p-4">
            <div class="d-flex justify-content-between mb-3">
                <div class="text-small d-flex">
                <div class="mr-2">
                    <a href="#">Business</a>
                </div>
                <span class="text-muted">23rd November</span>
                </div>
                <span class="badge bg-primary-alt text-primary">
                <img class="icon icon-sm bg-primary" src="assets/img/icons/interface/heart.svg" alt="heart interface icon" data-inject-svg />82
                </span>
            </div>
            <a href="#" class="flex-grow-1">
                <h3>Securing your Series A</h3>
            </a>
            <div class="d-flex align-items-center mt-3">
                <img src="assets/img/avatars/male-1.jpg" alt="Image" class="avatar avatar-sm">
                <div class="ml-1">
                <span class="text-small text-muted">By</span>
                <span class="text-small">Ben Cameron</span>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="pr-lg-4">
        <div class="card card-body justify-content-between bg-primary-2 text-light">
            <div class="d-flex justify-content-between mb-3">
            <div class="text-small d-flex">
                <div class="mr-2">
                <a href="#">Quotes</a>
                </div>
                <span class="opacity-70">16th November</span>
            </div>
            <span class="badge bg-primary text-light">
                <img class="icon icon-sm bg-white" src="assets/img/icons/interface/heart.svg" alt="heart interface icon" data-inject-svg />93
            </span>
            </div>
            <div>
            <h2>&ldquo;You either get acquired like Trello or live long enough to see yourself become JIRA&rdquo;</h2>
            <span class="text-small opacity-70">– Anne Souzakis</span>
            </div>
        </div>
        </div>
        <div class="pr-lg-4">
        <div class="card card-article-wide flex-md-row no-gutters">
            <a href="#" class="col-md-4">
            <img src="assets/img/article-4.jpg" alt="Image" class="card-img-top">
            </a>
            <div class="card-body d-flex flex-column col-auto p-4">
            <div class="d-flex justify-content-between mb-3">
                <div class="text-small d-flex">
                <div class="mr-2">
                    <a href="#">Finance</a>
                </div>
                <span class="text-muted">16th November</span>
                </div>
                <span class="badge bg-primary-alt text-primary">
                <img class="icon icon-sm bg-primary" src="assets/img/icons/interface/heart.svg" alt="heart interface icon" data-inject-svg />93
                </span>
            </div>
            <a href="#" class="flex-grow-1">
                <h3>Planning for change</h3>
            </a>
            <div class="d-flex align-items-center mt-3">
                <img src="assets/img/avatars/female-4.jpg" alt="Image" class="avatar avatar-sm">
                <div class="ml-1">
                <span class="text-small text-muted">By</span>
                <span class="text-small">Anne Souzakis</span>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="row justify-content-between align-items-center pr-lg-4">
        <div class="col-auto">
            <a href="#" class="btn btn-outline-white">Previous</a>
        </div>
        <div class="col-auto">
            <nav>
            <ul class="pagination mb-0">
                <li class="page-item active"><a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a>
                </li>
            </ul>
            </nav>
        </div>
        <div class="col-auto">
            <a href="#" class="btn btn-outline-white">Next</a>
        </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3 d-none d-md-block">
        <div class="mb-4">
        <h5>Popular</h5>
        <ul class="list-unstyled list-articles">
            <li class="row row-tight">
            <a href="#" class="col-3">
                <img src="assets/img/article-1.jpg" alt="Image" class="rounded">
            </a>
            <div class="col">
                <a href="#">
                <h6 class="mb-1">How to build collateral</h6>
                </a>
                <div class="d-flex text-small">
                <a href="#">Business</a>
                <span class="text-muted ml-1">29th November</span>
                </div>
            </div>
            </li>
            <li class="row row-tight">
            <a href="#" class="col-3">
                <img src="assets/img/article-2.jpg" alt="Image" class="rounded">
            </a>
            <div class="col">
                <a href="#">
                <h6 class="mb-1">Forging your path</h6>
                </a>
                <div class="d-flex text-small">
                <a href="#">Design</a>
                <span class="text-muted ml-1">27th November</span>
                </div>
            </div>
            </li>
            <li class="row row-tight">
            <a href="#" class="col-3">
                <img src="assets/img/article-3.jpg" alt="Image" class="rounded">
            </a>
            <div class="col">
                <a href="#">
                <h6 class="mb-1">Securing your Series A</h6>
                </a>
                <div class="d-flex text-small">
                <a href="#">Business</a>
                <span class="text-muted ml-1">23rd November</span>
                </div>
            </div>
            </li>
        </ul>
        </div>
    </div>
    </div>
</div>
</section>

<!-- Footer -->
<app-footer-primary></app-footer-primary>