<!-- Header -->
<app-transparent-header></app-transparent-header>

<!-- Profile Header -->
<app-user-cover></app-user-cover>

<!-- Profile Data -->
<section *ngIf="currentUser" class="bg-primary-alt">
  <div class="container">

    <div class="row">
      <div class="col-md-4">

        <app-user-sidebar></app-user-sidebar>

      </div>
      <div class="col-md-8">

        <div class="card shadow-sm" data-aos="fade-left">
          <div class="card-body">
            <h2>Password Change</h2>
            <p>If you think your account might have been compromised please change your password!</p>

            <form>
              <div class="form-group row">
                <label for="currentPassword" class="col-sm-4 col-form-label">Current Password</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="currentPassword" placeholder="*************">
                </div>
              </div>
              <div class="form-group row">
                <label for="newPassword" class="col-sm-4 col-form-label">New Password</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="newPassword" placeholder="*************">
                </div>
              </div>
              <div class="form-group row">
                <label for="newPasswordConfirm" class="col-sm-4 col-form-label">Confirm New Password</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" id="newPasswordConfirm" placeholder="*************">
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <a href="javascript:;" class="btn btn-primary">
              <i class="fa fa-fw fa-lock"></i>
              Change Password
            </a>
          </div>

        </div>

        <div class="card shadow-sm" data-aos="fade-left">
          <div class="card-body">
            <h2>Two Factor Authentication</h2>
            <p>Keep your account secure by enabling two-factor authentication.</p>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row mx-n2 py-2">
                    <div class="col-12 col-lg-4 px-2">
                      <select class="custom-select">
                          <option>Google Auth</option>
                          <option>SMS</option>
                          <option>Backup Codes</option>
                      </select>
                    </div>
                    <div class="col col-lg px-2">
                      <input type="text" class="form-control" placeholder="Description">
                    </div>
                    <div class="col-auto px-2">
                        <button type="button" class="btn btn-secondary px-3">
                            <i class="fal fa-plus"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto">
                      <i class="fab fa-fw fa-3x fa-google"></i>
                    </div>
                    <div class="col-auto ml-n2">
                        <h6 class="text-sm mb-0">Google Auth</h6>
                        <p class="card-text small text-muted">iPhone</p>
                    </div>
                    <div class="col-md d-none d-md-block text-right">
                      <span class="text-muted">Added:</span> 2019-05-16 11:05:08
                    </div>
                    <div class="col-auto">
                        <div class="actions text-right ml-3">
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a href="javascript:;" class="action-item" data-toggle="tooltip" title="" data-original-title="Delete">
                                <i class="fa fa-fw fa-trash-alt text-primary"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <div class="dropdown">
                                  <a href="javascript:;" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                    <i class="fa fa-fw fa-ellipsis-v"></i>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-right"><a href="#!" class="dropdown-item">Action </a><a href="#!" class="dropdown-item">Another action </a><a href="#!" class="dropdown-item">Something else here</a></div>
                              </div>
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row align-items-center">
                    <div class="col-auto">
                      <i class="fad fa-fw fa-3x fa-sms"></i>
                    </div>
                    <div class="col-auto ml-n2">
                      <h6 class="text-sm mb-0">Backup Codes</h6>
                    </div>
                    <div class="col d-none d-md-block text-right">
                      <span class="text-muted">Added:</span> 2019-05-16 11:05:08
                    </div>
                    <div class="col-auto">
                      <div class="actions text-right ml-3">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a href="javascript:;" class="action-item" data-toggle="tooltip" title="" data-original-title="Delete">
                              <i class="fa fa-fw fa-trash-alt text-primary"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <div class="dropdown">
                                <a href="javascript:;" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                  <i class="fa fa-fw fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right"><a href="#!" class="dropdown-item">Action </a><a href="#!" class="dropdown-item">Another action </a><a href="#!" class="dropdown-item">Something else here</a></div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<app-footer-primary></app-footer-primary>