<!-- Header -->
<app-header-primary><</app-header-primary>

<!-- Login Page -->
<section class="bg-dark header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2" data-overlay>
    <img src="assets/img/exordium/backgrounds/mountain0.jpg" alt="Image" class="jarallax-img opacity-20">
    <div class="container py-0">
      <div class="row my-3 mt-5 text-light">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/welcome">Exordium</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Sign in</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row my-4 my-md-6 text-light" data-aos="fade-up">
        <div class="col-md-12 text-center">
          <h1 class="display-4">Sign in</h1>
          <p class="lead mb-0">Enter your username and password to sign in to Exordium.</p>
        </div>
      </div>

      <div class="row justify-content-center my-3">
        <div class="col-lg-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
      
                  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <label>Username *</label>
                          <input name="signin-username" type="text" formControlName="username" placeholder="deadpool12" class="form-control" required>
                          <div class="invalid-feedback">
                            Please type your username.
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label>Password *</label>
                          <input name="signin-password" type="password" formControlName="password" placeholder="************" class="form-control" required>
                          <div class="invalid-feedback">
                            Please enter your email.
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label>Prove that you're human *</label>
                          <re-captcha 
                            (resolved)="recaptchaResolved($event)"
                            formControlName="recaptcha"
                          ></re-captcha>
                        </div>
                      </div>
                      <div class="col-12 mt-2">

                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary submitSignin">
                                    <i class="fa fa-fw fa-paper-plane"></i>
                                    Sign in
                                </button>
                            </div>
                            <div class="col-6 text-right">
                                <a href="javascript:;" class="btn btn-dark">
                                    <i class="fa fa-fw fa-lock"></i>
                                    Password Reset?
                                </a>
                            </div>
                        </div>

                      </div>
                    </div>
                  </form>
      
                </div>
              </div>
        </div>
      </div>

      <div class="row mb-6">
          <div class="col-12 text-center">
            <p>
                <a href="javascript:;" class="btn btn-link btn-link-overlay" routerLink ="/members/register">
                    <i class="fa fa-fw fa-user-plus"></i>
                    Need to create an account? Register now!
                </a>
            </p>
          </div>
      </div>

    </div>
</section>

<!-- Footer -->
<app-footer-primary></app-footer-primary>