<section class="min-vh-100 bg-primary-3 text-light py-5 o-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="/welcome">
                    <i class="fal fa-2x fa-wifi icon icon-lg"></i>
                </a>
            </div>
        </div>
        <div class="row justify-content-center mb-md-6">
            <div class="col-auto">
                <h5>
                    <a href="/welcome" routerLink ="/welcome">
                        Exordium
                    </a>
                </h5>
            </div>
        </div>
        <div class="row text-center py-6">
            <div class="col layer-2">
                <h1 class="display-1 mb-0">404</h1>
                <h2 class="h1">Page not found</h2>
                <div class="lead mb-4">It appears the page you were looking for couldn’t be found.</div>
                <a class="btn btn-primary btn-lg" href="/welcome" routerLink ="/welcome">
                    Go back to home
                </a>
            </div>
        </div>
    </div>
    <div class="decoration-wrapper d-none d-md-block">
        <div class="decoration right middle-y scale-2" data-jarallax-element="200" style="z-index: 0; transform: translate3d(0px, -51.1868px, 0px);">
            <div [inlineSVG]="'assets/img/decorations/deco-blob-3.svg'"></div> 
            <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                <div style="position: fixed;"></div>
            </div>
        </div>
        <div class="decoration right middle-y" data-jarallax-element="100" style="z-index: 0; transform: translate3d(0px, -9.39112px, 0px);">
            <div [inlineSVG]="'assets/img/decorations/deco-lines-3.svg'"></div> 
            <div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                <div style="position: fixed;"></div>
            </div>
        </div>
        <div class="decoration top left scale-3" data-jarallax-element="50" style="z-index: 0; transform: translate3d(0px, 41.4345px, 0px);">
            <div [inlineSVG]="'assets/img/decorations/deco-blob-9.svg'" class="bg-white"></div> 
            <div id="jarallax-container-2" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                <div style="position: fixed;"></div>
            </div>
        </div>
        <div class="decoration top left scale-2 scale-3 blend-mode-multiply" data-jarallax-element="150 50" style="z-index: 0; transform: translate3d(44.2724px, 132.817px, 0px);">
            <div [inlineSVG]="'assets/img/decorations/deco-dots-2.svg'"></div> 
            <div id="jarallax-container-3" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                <div style="position: fixed;"></div>
            </div>
        </div>
    </div>
</section>