<div class="container">

  <ul class="nav py-2 float-left">
    <li class="nav-item">
      <a class="nav-link btn active" href="javascript:;" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn" href="javascript:;">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn" href="javascript:;">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn disabled" href="javascript:;">Disabled</a>
    </li>
  </ul>

  <ul class="nav py-2 float-right">
    <li class="nav-item dropdown" *ngIf="hasManagement">
      <a class="nav-link btn dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mod
        <i class="fa fa-fw fa-caret-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-content">
        <h6 class="dropdown-header">Moderation</h6>
        <a class="dropdown-item" href="javascript:;" *ngIf="checkAccessPage(this.currentUser.access.pages, 'page', 'contact')" routerLink="/moderation/contact" routerLinkActive="active">Contact</a>
        <a class="dropdown-item" href="javascript:;" *ngIf="checkAccessPage(this.currentUser.access.pages, 'page', 'blog')" routerLink="/moderation/blog" routerLinkActive="active">Blog</a>
        <a class="dropdown-item" href="javascript:;" *ngIf="checkAccessPage(this.currentUser.access.pages, 'page', 'users')" routerLink="/moderation/users" routerLinkActive="active">Users</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link btn dropdown-toggle text-capitalize" href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-fw fa-user-circle"></i>
        {{this.currentUser.username}}
        <i class="fa fa-fw fa-caret-down"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-content">
        <h6 class="dropdown-header">Account</h6>
        <a class="dropdown-item" href="javascript:;" routerLink="/dashboard/user" routerLinkActive="active">Profile</a>
        <a class="dropdown-item" href="javascript:;" routerLink="/dashboard/user/sessions" routerLinkActive="active">Sessions</a>
        <a class="dropdown-item" href="javascript:;" routerLink="/dashboard/user/logs" routerLinkActive="active">Logs</a>
        <a class="dropdown-item" href="javascript:;" routerLink="/dashboard/user/connections" routerLinkActive="active">Connections</a>
        <a class="dropdown-item" href="javascript:;" routerLink="/dashboard/user/settings" routerLinkActive="active">Settings</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:;" (click)="signout()">Sign out</a>
      </div>
    </li>
  </ul>

</div>
