<div class="row justify-content-center m-0">

    <div class="col-lg col-md-6 mb-3 mb-lg-0">
    <h5>General</h5>
    <div>
        <a class="dropdown-item fade-page" href="general/locations" routerLink ="/general/locations" routerLinkActive="active">Locations</a>
        <a class="dropdown-item fade-page" href="general/network-status" routerLink ="/general/network-status" routerLinkActive="active">Network Status</a>
        <a class="dropdown-item fade-page" href="general/support" routerLink ="/general/support" routerLinkActive="active">Support</a>
    </div>
    </div>

    <div class="col-lg col-md-6 mb-3 mb-lg-0">
    <h5>Resources</h5>
    <div>
        <a class="dropdown-item fade-page" href="resources/reasons-for-a-vpn" routerLink ="/resources/reasons-for-a-vpn" routerLinkActive="active">Reasons for a VPN</a>
        <a class="dropdown-item fade-page" href="resources/tutorials" routerLink ="/resources/tutorials" routerLinkActive="active">Tutorials</a>
        <a class="dropdown-item fade-page" href="resources/documentation" routerLink ="/resources/documentation" routerLinkActive="active">Documentation</a>
    </div>
    </div>

    <div class="col-lg col-md-6 mb-3 mb-lg-0">
    <h5>Blog</h5>
    <div>
        <a class="dropdown-item fade-page" href="blog/why-exordium" routerLink ="/blog/why-exordium" routerLinkActive="active">Why Exordium?</a>
        <a class="dropdown-item fade-page" href="blog/browsing-anonymously" routerLink ="/blog/browsing-anonymously" routerLinkActive="active">Browsing Anonymouysly</a>
        <a class="dropdown-item fade-page" href="blog/public-security" routerLink ="/blog/public-security" routerLinkActive="active">Public Security</a>
        <a class="dropdown-item fade-page" href="blog/data-theft" routerLink ="/blog/data-theft" routerLinkActive="active">Data Theft</a>
        <a class="dropdown-item fade-page" href="blog/hiding-your-real-location" routerLink ="/blog/hiding-your-real-location" routerLinkActive="active">Hiding Your Real Location</a>
    </div>
    </div>

    <div class="col-lg col-md-6 mb-3 mb-lg-0">
    <h5>Company</h5>
    <div>
        <a class="dropdown-item fade-page" href="/company/about-us" routerLink ="/company/about-us" routerLinkActive="active">About Us</a>
        <a class="dropdown-item fade-page" href="/company/our-team" routerLink ="/company/our-team" routerLinkActive="active">Our Team</a>
        <a class="dropdown-item fade-page" href="/company/reviews" routerLink ="/company/reviews" routerLinkActive="active">Service Reviews</a>
        <a class="dropdown-item fade-page" href="/company/jobs" routerLink ="/company/jobs" routerLinkActive="active">Jobs at Exordium</a>
    </div>
    </div>

</div>