<section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2" data-overlay>
    <img src="assets/img/exordium/backgrounds/mountain1.jpg" alt="Image" class="jarallax-img opacity-20">
    <div class="container py-0">
      <div class="row my-3 mt-5">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/welcome">Exordium</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row my-4 my-md-6" data-aos="fade-up">
        <div class="col-lg-9 col-xl-8">
          <h1 class="display-4">About Us</h1>
          <p class="lead mb-0">We are a virtual private networking company in the works. </p>
        </div>
      </div>
    </div>
    <div class="divider">
      <div [inlineSVG]="'assets/img/dividers/divider-3.svg'"></div> 
    </div>
</section>
<section>
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <div class="row align-items-center justify-content-around">
        <div class="col-md-5 col-xl-6 mb-4 mb-md-0">
          <img src="assets/img/inner-2.jpg" alt="Image" class="rounded shadow-3d">
        </div>
        <div class="col-md-7 col-xl-6">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
              <span class="badge badge-primary">Our Mission</span>
              <div class="my-3">
                <span class="h1">Change the game through design.</span>
              </div>
              <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.</p>
              <p class="lead mb-0">Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Other Pages (Mobile only) -->
  <section class="aboutNav d-xs-block d-lg-none">
      <div class="dropdown-tab about-dark text-light">

        <div class="container py-4 aos-init aos-animate" data-dropdown-content data-aos="fade-up">
            
            <div class="row justify-content-center mb-5">
                <div class="col-md-9 col-lg-8">
                  <div class="text-center mb-5">
                    <h2 class="h1">Other About Pages</h2>
                  </div>
                </div>
              </div>
            
            <div class="row justify-content-center">
    
                <div class="col-lg col-md-6 mb-3 mb-lg-0">
                  <h5>General</h5>
                  <div>
                    <a class="dropdown-item fade-page" href="general/locations">Locations</a>
                    <a class="dropdown-item fade-page" href="general/network-status">Network Status</a>
                  </div>
                </div>
        
                <div class="col-lg col-md-6 mb-3 mb-lg-0">
                  <h5>Resources</h5>
                  <div>
                    <a class="dropdown-item fade-page" href="resources/reasons-for-a-vpn">Reasons for a VPN</a>
                    <a class="dropdown-item fade-page" href="resources/tutorials">Tutorials</a>
                    <a class="dropdown-item fade-page" href="resources/documentation">Documentation</a>
                  </div>
                </div>
        
                <div class="col-lg col-md-6 mb-3 mb-lg-0">
                  <h5>Blog</h5>
                  <div>
                    <a class="dropdown-item fade-page" href="blog/why-exordium">Why Exordium?</a>
                    <a class="dropdown-item fade-page" href="blog/browsing-anonymously">Browsing Anonymouysly</a>
                    <a class="dropdown-item fade-page" href="blog/public-security">Public Security</a>
                    <a class="dropdown-item fade-page" href="blog/data-theft">Data Theft</a>
                    <a class="dropdown-item fade-page" href="blog/hiding-your-real-location">Hiding Your Real Location</a>
                  </div>
                </div>
        
                <div class="col-lg col-md-6 mb-3 mb-lg-0">
                  <h5>Company</h5>
                  <div>
                    <a class="dropdown-item fade-page" href="/company/about-us">About Us</a>
                    <a class="dropdown-item fade-page" href="/company/our-team">Our Team</a>
                    <a class="dropdown-item fade-page" href="/company/reviews">Service Reviews</a>
                    <a class="dropdown-item fade-page" href="/company/jobs">Jobs at Exordium</a>
                  </div>
                </div>
        
            </div>
        </div>

      </div>
  </section>