<!-- Navigation -->
<div class="navbar-container bg-primary-3">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary-3" data-sticky="top">
    <div class="container">
      <a class="navbar-brand fade-page" href="/">
        <i class="far fa-wifi mr-1"></i>
        Exordium
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fal fa-bars icon navbar-toggler-open"></i>
        <i class="fal fa-times icon navbar-toggler-close"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <div class="py-2 py-lg-0">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/welcome" class="nav-link">
                <i class="fas fa-fw fa-home"></i>
                Welcome
              </a>
            </li>
            <!-- mobile only version -->
            <li class="nav-item d-xs-block d-lg-none">
              <a href="/about" class="nav-link">
                <i class="fas fa-fw fa-users"></i>
                About
              </a>
            </li>
            <!-- desktop only version -->
            <li class="nav-item d-none d-lg-block">
              <a href="#" class="nav-link" data-toggle="collapse" data-target="#aboutNavbar" aria-controls="aboutNavbar" aria-expanded="false" aria-label="About">
                <i class="fas fa-fw fa-users"></i>
                About
              </a>
            </li>
            <li class="nav-item">
              <a href="/company/contact" class="nav-link">
                <i class="fas fa-fw fa-comments"></i>
                Contact
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="/support" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">
                <i class="fas fa-fw fa-question-circle"></i>
                Support
              </a>
              <div class="dropdown-menu row">
                <div class="col-auto px-0" data-dropdown-content>
                  <div class="bg-white rounded border shadow-lg o-hidden">
                    <div class="p-3">
                      <h6 class="mb-0">Support</h6>
                    </div>
                    <div class="list-group list-group-flush">
                      <a href="#" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-3">
                        <i class="fa icon icon-md fa-fw fa-file-alt"></i>
                        <div class="text-body ml-3">
                          <span>Documentation</span>
                          <div class="text-small text-muted">Get all the information you need</div>
                        </div>
                      </a>
                      <a href="#" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-3">
                        <i class="fa icon icon-md fa-fw fa-comment-alt"></i>
                        <div class="text-body ml-3">
                          <span>Looking for answers?</span>
                          <div class="text-small text-muted">Get support</div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a href="/members/signin" class="nav-link">
                <i class="fas fa-fw fa-user-circle"></i>
                Members
              </a>
            </li>
          </ul>
        </div>
        
        <a href="/!/download" class="btn btn-primary ml-lg-3">Download Now</a>

      </div>
    </div>
  </nav>
</div>

<!-- About MegaDropdown -->

<!-- Main Content Container -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="bg-theme-dark text-light">
  <div class="container">
    <div class="row mb-4 justify-content-center">
      <div class="col-auto">
        <a href="/welcome">
          <i class="fal fa-2x fa-wifi icon icon-lg"></i>
        </a>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-auto">
        <ul class="nav">
          <li class="nav-item">
            <a href="/welcome" class="nav-link">Welcome</a>
          </li>
          <li class="nav-item">
            <a href="/company/about-us" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="/company/contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="/support" class="nav-link">Support</a>
          </li>
          <li class="nav-item">
            <a href="/members/signin" class="nav-link">Members</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-center mt-5 mb-5">
      <div class="col-auto">
        <ul class="nav">
          <li class="nav-item">
            <a href="https://www.instagram.com/exordium.dev/" class="nav-link">
              <i class="fab fa-2x fa-fw fa-instagram icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.facebook.com/exordium.dev/" class="nav-link">
              <i class="fab fa-2x fa-fw fa-facebook icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://discord.exordium.dev/" class="nav-link">
              <i class="fab fa-2x fa-fw fa-discord icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/exordium-dev" class="nav-link">
              <i class="fab fa-2x fa-fw fa-github icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-center text-center">
      <div class="col-xl-10">
        <small class="text-muted">
          &copy; 2020 All Rights Reserved. Exordium.
        </small>
      </div>
    </div>
  </div>
</footer>

<!-- Scroll back up button -->
<a href="#" class="btn back-to-top btn-primary btn-round" data-smooth-scroll data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
  <i class="fas fa-fw fa-arrow-up"></i>
</a>