<!-- Header -->
<app-transparent-header></app-transparent-header>

<!-- Profile Header -->
<app-user-cover></app-user-cover>

<!-- Profile Data -->
<section *ngIf="currentUser" class="bg-primary-alt">
  <div class="container">

    <div class="row">
      <div class="col-md-4">

        <app-user-sidebar></app-user-sidebar>

      </div>
      <div class="col-md-8">

        <div class="card card-body shadow-sm">
          <h2>Overview</h2>
          <p>
            Here's a quick overview of your account. If any of your account settings seem incorrect and changed, please make sure you secure your account and contact our support team if neccessary. 
          </p>
        </div>

        <div class="card card-body shadow-sm">
          <h3>Profile</h3>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" value="{{this.currentUser.username}}" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" value="{{this.currentUser.email}}" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="staticPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticPassword" value="************" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Realname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticEmail" value="{{this.currentUser.realname}}" readonly>
            </div>
          </div>

          <p>
            <a href="javascript:;">
              <i class="fa fa-fw fa-user"></i>
              Edit Profile
            </a>
          </p>
        </div>

        <div class="card card-body shadow-sm">
          <h3>Alerts</h3>
          <p>
            
          </p>
        </div>

        <div class="card card-body shadow-sm">
          <h3>Support</h3>
          <p>
            
          </p>
        </div>

      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<app-footer-primary></app-footer-primary>