<!-- Header -->
<app-transparent-header></app-transparent-header>

<!-- Profile Header -->
<app-user-cover></app-user-cover>

<!-- Profile Data -->
<section *ngIf="currentUser" class="bg-primary-alt">
  <div class="container">

    <div class="row">
      <div class="col-md-4">

        <app-user-sidebar></app-user-sidebar>

      </div>
      <div class="col-md-8">

        <div class="card card-body shadow-sm">
          <h2>Overview</h2>
          <p>
            Here's a quick overview of your account. If any of your account settings seem incorrect and changed, please make sure you secure your account and contact our support team if neccessary. 
          </p>
        </div>

        <div class="card card-body shadow-sm">
          <h3>Alerts</h3>
          <p>
            
          </p>
        </div>

        <div class="card card-body shadow-sm">
          <h3>Support</h3>
          <p>
            
          </p>
        </div>

      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<app-footer-primary></app-footer-primary>