<div class="card shadow-sm user-sidebar">

    <div class="list-group list-group-flush">
      <a href="javascript:;" class="list-group-item list-group-item-action" routerLink="/dashboard/user" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span>
          <i class="fa fa-fw fa-search mr-2"></i>
          Overview
        </span>
      </a>
      <a href="javascript:;" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" routerLink="/dashboard/user/sessions" routerLinkActive="active">
        <span>
          <i class="fa fa-fw fa-user-friends mr-2"></i>
          Sessions
        </span>
        <span class="badge badge-dark badge-pill">1</span>
      </a>
      <a href="javascript:;" class="list-group-item list-group-item-action" routerLink="/dashboard/user/logs" routerLinkActive="active">
        <span>
          <i class="fa fa-fw fa-archive mr-2"></i>
          Logs
        </span>
      </a>
      <a href="javascript:;" class="list-group-item list-group-item-action" routerLink="/dashboard/user/connections" routerLinkActive="active">
        <span>
          <i class="fa fa-fw fa-random mr-2"></i>
          Connections
        </span>
      </a>
      <a href="javascript:;" class="list-group-item list-group-item-action" routerLink="/dashboard/user/settings" routerLinkActive="active">
        <span>
          <i class="fa fa-fw fa-cogs mr-2"></i>
          Settings
        </span>
      </a>
      <a href="javascript:;" class="list-group-item list-group-item-action" routerLink="/dashboard/user/security" routerLinkActive="active">
        <span>
          <i class="fa fa-fw fa-shield mr-2"></i>
          Security
        </span>
      </a>
    </div>

  </div>