<!-- Navigation -->
<div class="navbar-container bg-primary-3">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-overlay">
        <div class="container">
            <a class="navbar-brand fade-page" href="/">
                <i class="far fa-wifi mr-1"></i>
                Exordium
            </a>
            <app-nav-buttons class="d-flex align-items-center order-lg-3"></app-nav-buttons>
            <div class="collapse navbar-collapse justify-content-end">
                <app-nav-main class="py-2 py-lg-0"></app-nav-main>
            </div>
        </div>
    </nav>
</div>
  
<!-- About MegaDropdown -->
<div class="collapse aboutNav" id="aboutNavbar">
    <div class="dropdown-tab about-dark text-light border-bottom">
        <div class="container py-4" data-dropdown-content>
            <app-nav-about></app-nav-about>
        </div>
    </div>
</div>

<!-- Dashbord Navigation -->
<div class="dashboard-nav-container" *ngIf="signedIn" style="">
    <div class="nav-dashboard-wrapper nav-dashboard-dark">
        <app-nav-dashboard></app-nav-dashboard>
    </div>
</div>