<ul class="navbar-nav">
    <li class="nav-item">
    <a href="/welcome" class="nav-link" routerLink ="/welcome" routerLinkActive="active">
        <i class="fas fa-fw fa-home"></i>
        Welcome
    </a>
    </li>
    <!-- mobile only version -->
    <li class="nav-item d-xs-block d-lg-none">
        <a href="/company/about-us" class="nav-link" routerLink ="/company/about-us" routerLinkActive="active">
            <i class="fas fa-fw fa-users"></i>
            About
        </a>
    </li>
    <!-- desktop only version -->
    <li class="nav-item d-none d-lg-block">
        <a href="javascript:;" class="nav-link" data-toggle="collapse" data-target="#aboutNavbar" aria-controls="aboutNavbar" aria-expanded="false" aria-label="About">
            <i class="fas fa-fw fa-users"></i>
            About
        </a>
    </li>
    <li class="nav-item">
        <a href="/company/contact" class="nav-link" routerLink ="/company/contact" routerLinkActive="active">
            <i class="fas fa-fw fa-comments"></i>
            Contact
        </a>
    </li>
    <li class="nav-item">
        <a href="/pricing" class="nav-link" routerLink ="/pricing" routerLinkActive="active">
            <i class="fas fa-fw fa-shopping-cart"></i>
            Pricing
        </a>
    </li>
    <li class="nav-item" *ngIf="!signedIn">
        <a href="/members/signin" class="nav-link" routerLink ="/members/signin" routerLinkActive="active">
            <i class="fas fa-fw fa-user-circle"></i>
            Members
        </a>
    </li>
</ul>
