<!-- Header -->
<app-dark-header></app-dark-header>

<!-- Title -->
<section class="bg-primary-3 text-light">
    <div class="container">
        <h2 class="display-4">
            Moderation: Users
        </h2>
        <p class="lead">
            This page will display all valid information regarding accounts currently in the database for Exordium. This page will eventually turn into a whole system for editing accounts and checking plans etc. 
        </p>
    </div>
</section>

<!-- Users -->
<section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
            <div class="row">

                {{users}}

            </div>
        </div>
      </div>
    </div>
  </section>

            

<!-- Footer -->
<app-footer-primary></app-footer-primary>