<!-- Header -->
<app-dark-header></app-dark-header>

<!-- Title -->
<section class="bg-primary-3 text-light">
    <div class="container">
        <h2 class="display-4">
            Moderation: Users
        </h2>
        <p class="lead">
            This page will display all valid information regarding accounts currently in the database for Exordium. This page will eventually turn into a whole system for editing accounts and checking plans etc. 
        </p>
    </div>
</section>

<!-- Users -->
<section class="bg-primary-alt">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">

                <div class="card shadow mb-5">
                    <div class="card-header text-bold">
                      <i class="fa fa-fw fa-users"></i>
                      Users (#)
                    </div>
                    <div class="card-body">
          
                      <div class="d-flex p-2 connections-item bg-primary-3-alt" *ngFor="let user of users">
                        <div class="connections-country align-self-center">
                          <img src="assets/img/flags/Canada.png" class="img-fluid shadow" />
                        </div>
                        <div class="flex-grow-1">
                          
                          <ul class="nav connections-nav">
                            <li class="nav-item">
                              <a class="nav-link active" href="javascript:;">
                                <i class="fa fa-envelope"></i>
                                {{user.email}}
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="javascript:;">
                                <i class="fa fa-user"></i>
                                {{user.username}}
                              </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="javascript:;">
                                <i class="fa fa-globe-americas"></i>
                                {{user.updated.ipAddress}}
                              </a>
                            </li>
                          </ul>
          
                        </div>
                        <div class="">
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="javascript:;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Modify
                                    <i class="fa fa-fw fa-caret-down"></i>
                                </a>
                                
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="javascript:;">
                                        <i class="fa fa-fw fa-search"></i>
                                        View
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <i class="fa fa-fw fa-cog"></i>
                                        Edit
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <i class="fa fa-fw fa-trash"></i>
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                      </div>
          
                    </div>
                </div>

            </div>
        </div>
    </div>
  </section>

            

<!-- Footer -->
<app-footer-primary></app-footer-primary>